github-service:
  applicationName: github-service
  containerImage:
    repository: tpayne666/webrestapi

  containerPorts:
    http:
      port: 8080

  service:
    type: ClusterIP
    ports:
      app:
        port: 8088
        targetPort: http

  ingress:
    enabled: true
    pathType: Prefix
    servicePort: app
    hosts:
      - restapi.ukwest.cloudapp.azure.com
    annotations:
      kubernetes.io/ingress.class: addon-http-application-routing

  shutdownDelay: 5

  livenessProbe:
    httpGet:
      path: /api/test/version
      port: 8080
    initialDelaySeconds: 5
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /api/test/version
      port: 8080
    initialDelaySeconds: 15
    periodSeconds: 20

  containerResources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 300Mi
      cpu: 400m
