github-service:
  containerPorts:
    http:
      port: 8080

  service:
    ports:
      app:
        port: 8081

  shutdownDelay: 5

  livenessProbe:
    httpGet:
      path: /api/test/version
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /api/test/version
      port: 80
    initialDelaySeconds: 15
    periodSeconds: 20

  containerResources:
    requests:
      memory: 150Mi
      cpu: 200m
    limits:
      memory: 300Mi
      cpu: 400m
