# Setup the ingress for the service
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitops-workflow-templates
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/use-private-ip: "false"
spec:
  rules:
    - http:
        paths:
          - path: /webhooks/gitops-deploy/github-reposrc
            pathType: Prefix
            backend:
              service:
                name: gitops-deploy-eventsource-svc
                port:
                  number: 80
      # You will need to customise this as appropriate
      host: argorestapi.ukwest.cloudapp.azure.com