# Default values for canary-deployment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

appName:   logicapp
namespace: logicapp-prod

replicaCount: 3

nameOverride: ""
fullnameOverride: ""

image:
  repository: busybox:glibc
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  cmd: '["/bin/sh", "-c"]'
