# Lets create a very simple secret...
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Values.namespace }}
  name: {{ .Values.appName }}-config
  labels:
    {{- include "statefulset-deployment.labels" . | nindent 4 }}
data:
  POSTGRES_DB: postgresdb
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: password # Change this to a secret when doing for real...
  PGDATA: /var/lib/postgresql/data/
