name: GitHub CR Build and Push

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # github.repository as <account>/<repo>

jobs:
  build:
    name: Build and push Docker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Extract image tags and labels - cd-promote
        uses: docker/metadata-action@v4
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/cd-promote

      - name: Build and Push CD Promote Docker image
        uses: docker/build-push-action@v4
        with:
          context: docker-files/
          file: docker-files/cd-promote.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/cd-promote:latest
          labels: ${{ steps.meta.outputs.labels }}

      - name: Extract image tags and labels - argo-env
        uses: docker/metadata-action@v4
        id: metad
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/argo-env

      - name: Build and Push Argo Environment Docker image
        uses: docker/build-push-action@v4
        with:
          context: docker-files/
          file: docker-files/argo-env.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/argo-env:latest
          labels: ${{ steps.metad.outputs.labels }}

      - name: Extract image tags and labels - argo-env-github
        uses: docker/metadata-action@v4
        id: metae
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/argo-env-github

      - name: Build and Push GitHub Argo Environment Docker image
        uses: docker/build-push-action@v4
        with:
          context: docker-files/
          file: docker-files/argo-env-github.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/argo-env-github:latest
          labels: ${{ steps.metae.outputs.labels }}
